@import url("/node_modules/open-props/colors.min.css");
@import url("/node_modules/open-props/shadows.min.css");

.panel {
    min-height: calc(50vh - 3rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.heading {
    font-weight: bolder;
    font-size: large;
    margin: 0;
}

.button {
    height: 5vh;

    box-shadow: var(--shadow-1);
    width: 30vw;
    font-size: large;
    border-radius: 2rem;

    &:hover {
        background-color: var(--blue-6);
        box-shadow: var(--shadow-2);
    }

    &:active {
        background-color: var(--blue-7);
        box-shadow: var(--shadow-2);
    }
}

.correct {
    &.panel {
        background-color: var(--green-2);
    }
    .heading {
        color: var(--green-9);
    }
    .button {
        background-color: var(--green-6);
        color: var(--green-0);
        border: 1px solid var(--green-7);

        &:hover {
            background-color: var(--green-7);
        }

        &:active {
            background-color: var(--green-8);
        }
    }
}

.incorrect {
    &.panel {
        background-color: var(--red-2);
    }

    .heading {
        color: var(--red-9);
    }

    .button {
        background-color: var(--red-7);
        color: var(--red-0);
        border: 1px solid var(--red-7);

        &:hover {
            background-color: var(--red-7);
        }

        &:active {
            background-color: var(--red-8);
        }
    }
}
