@import url("/node_modules/open-props/sizes.min.css");

.svg {
    min-height: 50vh;
    max-height: 50vh;
    width: 100%;
    background-color: #c8ebff;
}

.svgAltColor {
    background-color: #f9f9f9;
}
