@import url("/node_modules/open-props/colors.min.css");

.navbar {
    background-color: var(--blue-6);
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    flex-shrink: 0;
}

.title {
    margin: 0;
    font-size: large;
    color: var(--blue-0);
    font-weight: bold;
}

.restartButton {
    height: 2.5rem;
    padding-inline: 1rem;
    background-color: var(--blue-5);
    color: var(--gray-0);
    border: 2px solid var(--blue-7);
    font-size: large;
    border-radius: 5rem;

    &:hover {
        background-color: var(--blue-6);
        border-color: var(--blue-8);
    }

    &:active {
        background-color: var(--blue-7);
        border-color: var(--blue-9);
    }
}
